*,::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
font-family: Raleway;

}

h1 {
font-size: clamp(35px, 8vW, 60px);
position: relative;
margin: 20px auto 70px;

}

h1::after {
    content: "Le meilleur du monde ?";
    font-size: clamp(14px, 3vw, 20px);
    font-family: Quicksand;
    position: absolute;
    bottom: -30px;
    left: 0;
}



.content {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
}



.content p {
    margin-top: 15px;
    font-size: 19px;
    line-height: 1.4;
}

.floating-btn {
position: fixed;
bottom: 50px;
right: 50px;
width: 75px;
height: 75px;
border: none;
cursor: pointer;
border-radius: 50%;
background: linear-gradient(45deg, purple, violet);
display: flex;
justify-content: center;
align-items: center;

}


.floating-btn img {
width: 35px;
height: 35px;

}
.floating-btn .tooltip {
    position: absolute;
    background: #fff;
    padding: 10px;
    font-size: 18px;
    border-radius: 3px;
    line-height: 1.4;
    text-align: left;
    width: 250px;
    transform: translate(-180px, -50%);
    box-shadow: 0 2px 15px rgba(0,0,0,0.2);
    pointer-events: none;/*pour ne pas interagir avec ce texte*/
    /*display: none;*/
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-out;
}


.floating-btn:hover .tooltip {
   /*display: block;*/
   visibility: visible;
   opacity: 1;
}
